<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<style type="text/css">
 <!--
  	title_text {
 		font-size: 42px;
 	}
 -->
 <!--
 	.indent {
 		text-indent:2em;
 	}
 -->
 </style>

<title>コマンド画面</title>
</head>
<body>

	<form action="/list" method="post" th:each="entry : ${data}">
		<div>
		[[${entry.name}]]
		</div>
		<div class="indent">
			価格 [[${entry.price}]]円
		</div>
		<input type="submit" value="商品一覧へ">
	</form>

</body>
</html>