<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<style type="text/css">
 <!--
  	title_text {
 		font-size: 42px;
 	}
 -->
 <!--
 	.indent {
 		text-indent:2em;
 	}
 -->
 </style>

<title>キャラ作成画面</title>
</head>
<body>

	<title_text> キャラ作成 </title_text>
	<br />
	<br />

	<form action="/create" method="post" th:each="entry : ${data}">
		<div>
			職業：
			<input type="radio" name="q1" value="戦士"> 戦士
			<input type="radio" name="q1" value="魔法使い"> 魔法使い
		</div>
		<div class="indent">
			名前： [[${entry.value.price}]]円
			<input type="hidden" name="itemId" th:value=${entry.value.itemId}>
			<input type="submit" value="カートに追加" >
		</div>
		<br>
	</form>

</body>
</html>